<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="" method="">
    <label>Nome completo:</label>
    <input type="text" name="" id=""><br><br>
    <label>Cpf:</label>
    <input type="text" name="" id=""><br><br>
    <label>Data de nascimento:</label>
    <input type="text" name="" id=""><br><br>
    <label>Telefone:</label>
    <input type="text" name="" id=""><br><br>
    <label>Email:</label>
    <input type="text" name="" id=""><br><br>
    <label>Cep:</label>
    <input type="text" name="" id=""><br><br>
    <label>Rua:</label>
    <input type="text" name="" id=""><br><br>
    <label>Número:</label>
    <input type="text" name="" id=""><br><br>
    <label>Complemento:</label>
    <input type="text" name="" id=""><br><br>
    <label>Bairro:</label>
    <input type="text" name="" id=""><br><br>
    <label>Cidade:</label>
    <input type="text" name="" id=""><br><br>
    <label>Estado:</label>
    <input type="text" name="" id=""><br><br>
    <label>Escolha sua senha:</label>
    <input type="text" name="" id="">
    </form>
    <button>REGISTRAR</button>
</body>
</html>